# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Jupyter temporary files
.ipynb_checkpoints/

# Generated output files
solubility_predictor/output/

# OS files
.DS_Store
Thumbs.db

notebooks/catboost_info/